<div class="mt-10 text-center">
  <a 
    href="/projects" 
    class="inline-block px-8 py-3 bg-primary text-white dark:bg-primary dark:text-white font-medium rounded-lg transition duration-300 hover:bg-primaryDark dark:hover:bg-primaryDark"
  >
    查看所有项目
  </a>
</div> 